{{#if isEditing}}
{{partial 'post/edit'}}
<button {{action 'doneEditing'}}>Done</button>
{{else}}
<button {{action 'edit'}}>Edit</button>
{{/if}}

<div class="hike-details">
  <h1>{{model.title}}</h1>
  <h3 class='muted'>by {{model.author}}</h3>



  <hr>
  {{model.rating}}
  {{model.location}}
  {{model.difficulty}}
  {{model.body}}

</div>
