<div id="allHikesInfo">
  <h1 id='allhikestitle'>List of All Hikes - Sorted by Name</h1>

  <div class="col-md-12">
    <ul class="list-unstyled">
      {{#each hike in sortedHikes}}
      <li>
        {{#link-to 'hike' hike.id}}
        {{hike.title}} = Rating: {{hike.rating}}, Location: {{hike.location}}, Difficulty: {{hike.difficulty}}<br><br>
        {{/link-to}}
      </li>
      {{/each}}
    </ul>
  </div>

  <button class="btn btn-primary" {{action 'sortRating'}}>Sort By Rank</button>
  <button class="btn btn-primary" {{action 'sortLocation'}}>Sort By Location</button>
  <button class="btn btn-primary" {{action 'sortDifficulty'}}>Sort By Difficulty</button>
  <button class="btn btn-primary" {{action 'sortTitle'}}>Sort By Title </button>

</div>
